// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap');

// Weights
$weight-bold: 900;
$weight-semibold: 700;

// Typography
$family-sans-serif: 'Noto Sans', sans-serif;
$title-family: 'Nunito', sans-serif;
$title-weight: 900;

// Colors
$primary: #44c7b6;
$link: #5f266d;
// $primary: #2ec4b6;

$navbar-item-img-max-height: 2rem;

// Import Bulma framework
@import '~bulma/bulma';
